/* CreateNotes.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container {
    padding: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    /* background-color: white; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
}
.textarea{
    margin: 15px 0px;
    border-radius: 5px;
    width: 100%;
    max-height: 300px;
    height: 200px;
    resize: vertical;
    font-size: 16px;
    outline: none;
    border-top: none;
    border-left: none ;
    border-right: none;
    border-bottom: 2px solid rgb(218, 217, 217);
    background-color: transparent;
}
/* .textarea:focus{
    border: 2px solid dodgerblue;
    outline: none;
} */

.input{
    margin: 10px 0px;
    border-radius: 5px;
    width: 96%;
    padding: 10px 10px;
    font-size: 16px;
    outline: none;
    border-top: none;
    border-left: none ;
    border-right: none;
    border-bottom: 2px solid rgb(218, 217, 217);
    background-color: transparent;
}
/* .input:focus{
    border: 2px solid dodgerblue;
    outline: none;
} */
.btn{
     height: 40px;
     background-color: #007bff;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 16px;
    width: 200px;
     margin: auto;
}




