.container{
    margin: 15px;
}
.main_content{
    max-width: 1024px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.main_content>h1{
    margin: auto;
    margin-top: 50px;
    max-width: 550px;
    font-size: 56px;
}

.main_content>p{
    max-width: 600px;
    margin: auto;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.main_content>a{
    max-width: 500px;
    font-size: 14px;
    display: inline-block;
    background-color: #3361cc;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    margin-top: 20px;
}
.subcontent>h2{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    max-width: 550px;
    font-size: 44px;
}
.features{
    max-width: 1024px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 30px;
}
.feature>h5{
    font-size: 18px;
    margin: 10px 0px;
}

.feature>p{
    font-size: 16px;
    margin:0px;
    color: #8c8f94;
}
.footer{
    max-width: 1024px;
    width: 100%;
    margin:50px auto;

    text-align: center;
}
.footer_menu{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    padding: 0px;
}
.footer_links{
    font-size: small;
}
.footer_links>a{
    padding: 0px 10px;
    text-decoration: none;
    color: #333;
    
}


@media screen and (max-width:768px) {

    .main_content>h1{
    font-size: 32px;
    }

    .main_content>p{
        font-size: 16px;
    }
    .subcontent>h2{
        font-size: 24px;
    }
    .features{
        grid-template-columns: 1fr;
        gap: 20px;
    }


}